<!--
  Generated template for the RecipesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title color="secondary">Recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button *ngIf="usuario" ion-button (click)="createRecipe()">
    Crear receta
  </button>
  <ion-card *ngFor="let recipe of recipes">
    <img src="/assets/imgs/tortilla.jpg"/>
    <ion-card-content>
      <ion-card-title>
        {{recipe.name}}
      </ion-card-title>
      <p>
        {{recipe.ingredients}}
      </p>

      <ion-row>
        <ion-col>
          <button ion-fab (click)="facebookshare(recipe.name,recipe.ingredients)">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
        </ion-col>
      </ion-row>


      <button ion-button secondary (click)="navMap()">MAPA</button>
      <button ion-button secondary (click)="navEdit(recipe)">EDITAR</button>

    </ion-card-content>
  </ion-card>



  <ion-list>
    <ion-item>
      <button ion-item="" color="primary" (click)="viewFruits()">Ver frutas</button>
    </ion-item>
    <ion-item-group *ngFor="let fruit of fruits">
      <ion-item-divider color="secondary">
        {{fruit.name}}
      </ion-item-divider>
    </ion-item-group>
  </ion-list>


</ion-content>
