<ion-header>
  <ion-navbar color="secondary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GC_DIET</ion-title>


    <ion-buttons end>
    <button *ngIf="!usuario" ion-button (click)="goToLogin()">
      <ion-icon name="log-in"></ion-icon>
    </button>
      <button *ngIf="usuario" ion-button color="dark" (click)="navPerfil()"><ion-icon name="contact"></ion-icon></button>

    <button *ngIf="usuario" ion-button color="danger" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

<!--  <button ion-button (click)="getPicture()">Take a picture</button>
  <img [src]="image" *ngIf="image"/>-->
  <ion-card *ngFor="let recipe of recipes">
    <img src="{{recipe.img}}"/>
    <ion-card-content>
      <ion-card-title>
        <!--{{recipe.name}}-->
        {{recipe.name}}
      </ion-card-title>
      <p>
        {{recipe.ingredients}}
      </p>


      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-buttons>
        <span>
          <button ion-button small color="secondary" round outline (click)="share(recipe.name,recipe.ingredients)">Compartir</button>
          <button ion-button small color="secondary" round outline (click)="navMap()">Mapa</button>
          <button *ngIf="usuario && usuario.email == recipe.user" ion-button small color="secondary" round outline (click)="navEdit(recipe)">Editar</button>
        </span>
        <button ion-button full small color="secondary" round  (click)="navComments(recipe)">Comentarios</button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

</ion-content>


