<ion-header>
  <ion-navbar color="secondary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GC_DIET</ion-title>


    <ion-buttons end>
    <button *ngIf="!usuario" ion-button (click)="goToLogin()">
      <ion-icon name="log-in"></ion-icon>
    </button>
aaaaa
      <button *ngIf="usuario" ion-button color="dark" (click)="navPerfil()"><ion-icon name="contact"></ion-icon></button>

    <button *ngIf="usuario" ion-button color="danger" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let recipe of recipes">
    <img src="/assets/imgs/tortilla.jpg"/>
    <ion-card-content>
      <ion-card-title>
        {{recipe.name}}
      </ion-card-title>
      <p class="verde">
        {{recipe.ingredients.charAt(0).toUpperCase() + recipe.ingredients.substring(1).toLowerCase()}}
      </p>
      <ion-buttons end class="a">
      <button ion-button small (click)="navMap()">MAPA</button>

        <!--<button ion-button small color="danger" round outline>Share</button>-->

        <ion-row>
          <ion-col>
            <button ion-fab (click)="facebookshare()">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-buttons>
    </ion-card-content>
  </ion-card>


  <!--<ion-card *ngFor="let recipe of recipes">-->
    <!--<img src="/assets/imgs/tortilla.jpg"/>-->
    <!--<ion-card-content>-->
      <!--<ion-card-title>-->
        <!--{{recipe.name}}-->
      <!--</ion-card-title>-->
      <!--<p>-->
        <!--{{recipe.ingredients}}-->
      <!--</p>-->
      <!--<button ion-button secondary (click)="navMap()">MAPA</button>-->

    <!--</ion-card-content>-->
  <!--</ion-card>-->


  <!--<button ion-button secondary (click)="navUsers()">Usuarios</button>-->


</ion-content>
