<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>


    <ion-buttons end>
    <button *ngIf="!usuario" ion-button (click)="goToLogin()">
      <ion-icon name="log-in"></ion-icon>
    </button>

      <button *ngIf="usuario" ion-button color="secondary" (click)="navPerfil()"><ion-icon name="contact"></ion-icon></button>

    <button *ngIf="usuario" ion-button color="danger" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p>
    If you get the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary (click)="navRecipes()">Recetas</button>
  <button ion-button secondary *ngIf="usuario.email=='admin@admin.admin'" (click)="navFood()">Alimentos
  </button>


  <!--<button ion-button secondary (click)="navUsers()">Usuarios</button>-->


</ion-content>
